/* Page background and global spacing */
body {
  background-color: #b7dde8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Main header */
h1 {
  font-size: 36px;
  text-align: center;
  margin: 20px 0;
}

/* Section headers */
h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* Paragraph styling */
p {
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Second paragraph (green box) */
#paragraph2 {
  width: 60%;
  padding: 15px;
  margin: 20px;
  border: 3px solid green;
  background-color: white;
  line-height: 1.6em;
}

/* Blue paragraphs (4th and 5th) */
.blue {
  color: white;
  background-color: #000080;
  padding: 10px;
}

/* Ordered list formatting */
ol {
  list-style-type: decimal-leading-zero;
  margin-left: 10px;
  padding-left: 20px;
}

/* List item links */
ol li a {
  color: blue;
  text-decoration: underline;
}

/* W3Schools link different color */
p a {
  color: red;
}

/* Table styling */
table {
  border-collapse: collapse;
  margin-top: 10px;
}

/* Table headers */
th {
  background-color: #cccccc;
  border: 1px solid black;
  padding: 5px;
}

/* Table cells */
td {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 5px;
}
